<app-login
  (isLoggedInEvent)="loggedInStateChanged($event)"
></app-login>
<hr>
<div fxLayout="column" fxFill>

  <div fxFlex="10" fxFlex.lt-sm="30">
    <mat-tab-group #tabs mat-align-tabs="center">
      <mat-tab label="Received emails">
        <app-email-list
          *ngIf="isLoggedIn"
          [emailDatasource]="receivedEmailDatasource"
          (emailChainDialogClosed)="replyToAChain($event)"
        ></app-email-list>
      </mat-tab>
      <mat-tab label="Sent emails">
        <app-email-list
          *ngIf="isLoggedIn"
          [emailDatasource]="sentEmailDatasource"
        ></app-email-list>
      </mat-tab>
      <mat-tab label="Write an email">
        <app-send-email
          *ngIf="isLoggedIn"
          [preDefinedEmail]="predefinedEmail"
        >
        </app-send-email>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
