<ng-container *ngIf="emails.length>0">
  <h2 mat-dialog-title>{{firstEmailsSubject}}</h2>
  <mat-dialog-content class="mat-typography">
    <mat-card *ngFor="let email of emails" [ngClass]="{'me': loggedInUserName===email.from,
                 'notme': loggedInUserName!==email.from}">
      <mat-card-subtitle *ngIf="loggedInUserName!==email.from">{{email.from+" - "+(email.sentDate | date:'medium')}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="loggedInUserName==email.from">{{email.sentDate | date:'medium'}}</mat-card-subtitle>
      <div [innerHTML]="email.htmlContent"></div>
    </mat-card>

    <mat-card [ngClass]="'fastReply'" [formGroup]="form">
      <mat-card-title>Fast reply message</mat-card-title>
      <textarea matInput type="text" formControlName="textArea"></textarea>
      <button type="reset" mat-stroked-button [disabled]="!form.valid" (click)="fastReply()">Fast reply</button>
    </mat-card>

  </mat-dialog-content>
  <br>

  <button mat-stroked-button (click)="reply()">Reply</button>
</ng-container>
