mat-card{
  width: 50%;
  margin-bottom: 10px;
}

textarea{
  width: 100%;
  height: 100%;
}

button{
  float: right;
}

.me{
  background-color: #dbeef5;
  text-align: right;
  float: right;
}

.notme{
  background-color: #e6e6ec;
  text-align: left;
  float: left;
}

.fastReply{
  background-color: #f1f8fc;
  text-align: right;
  float: right;
}
