<form [formGroup]="form">

  <div fxLayout="row" fxFill>
    <div class="wrapper" fxFlex="50">
      <div fxLayout="column" fxFill>
        <mat-form-field appearance="standard">
          <mat-label>To</mat-label>
          <mat-chip-list #chipListTo formControlName="to">
            <mat-chip *ngFor="let address of form.get('to')!.value" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(address,form.get('to')!)">
              {{address}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="New address..."
                   [matChipInputFor]="chipListTo"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event, form.get('to')!)"
            >
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Cc</mat-label>
          <mat-chip-list #chipListCc formControlName="cc">
            <mat-chip *ngFor="let address of form.get('cc')!.value" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(address,form.get('cc')!)">
              {{address}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="New address..."
                   [matChipInputFor]="chipListCc"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event, form.get('cc')!)"
            >
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Bcc</mat-label>
          <mat-chip-list #chipListBcc formControlName="bcc">
            <mat-chip *ngFor="let address of form.get('bcc')!.value" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(address,form.get('bcc')!)">
              {{address}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="New address..."
                   [matChipInputFor]="chipListBcc"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event, form.get('bcc')!)"
            >
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Subject</mat-label>
          <input name="subject" formControlName="subject" type="text" matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="wrapper" fxFlex="50" fxFill>
      <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
    </div>
  </div>



  <button type="reset" (click)="submit()" [disabled]="!form.valid" mat-stroked-button>Send</button>
  <button type="reset" (click)="reset()" mat-stroked-button>Cancel</button>
</form>
