<div>

  <table
    *ngIf="emailDatasource.data.length>0"
    mat-table
    [dataSource]="emailDatasource"
    class="mat-elevation-z8"
  >

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let row">{{row.from}}</td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let row">{{row.subject}}</td>
    </ng-container>

    <ng-container matColumnDef="sentDate">
      <th mat-header-cell *matHeaderCellDef>Sent date</th>
      <td mat-cell *matCellDef="let row">{{row.sentDate | date:'medium'}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickOnRow(row)"></tr>
  </table>

</div>
